body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: burlywood;
}


.container span{
  color: crimson;
}

.bg-dark ul li a{
  color: #fff;
}

.bg-dark ul li a:visited,
.bg-dark ul li a:active{
  color: #fff;
}
.bg-dark ul li a:active{
  color: crimson;
}


.bg-dark ul li a:hover{
  color: crimson;
  padding-right: 10px;
  font-weight: 600;
}


.container{
  position: relative;
}

.container .money{
  margin-left: 5%;
  /* padding-bottom: 100%; */
  position: absolute;
  top: 30%;
  left: 45%;
  padding-bottom: 500px;

}

.container .money img{
  height: 400px;
  width: 400px;
  border-radius: 50%;
}